<div class="card m-2" style="width: 10rem;">
  <img src="/images/default-user.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%="#{user.name} #{user.last_name}"%></h5>
  </div>
  <div class="card-body">
    <%= link_to "Ver Perfil", user, class: "card-link" %>
  </div>
</div>