<div class="cover-container d-flex text-center d-flex align-items-center p-5 mx-auto flex-column">
    <main class="inner-cover">
        <h1 class="cover-heading">Bienvenido a Eventy.</h1>
        <p class="lead">¡Crea, gestiona y asiste a diferentes eventos!</p>
    </main>
</div>