<div class="row">
    <div class="col-md">
        <h3>Próximos eventos</h3>
        <%= render 'shared/events_feed', events: @future_events %>
    </div>
    <div class="col-md">
        <h3>Eventos pasados</h3>
        <%= render 'shared/events_feed', events: @past_events %>
    </div>
</div>